{
  "appId": "{{APP_ID}}",
  "appName": "{{APP_NAME}}",
  "version": "{{APP_VERSION}}",
  "logoUri": "{{LOGO_URI}}",
  "distribution_type": "{{DISTRIBUTION}}",
  "auth": {
{{#if oauth}}
    "scopes": {{SCOPES_JSON}},
    "redirectUris": {{REDIRECT_URLS_JSON}}
{{/if}}
{{#if ui_app}}
    "scopes": {{SCOPES_JSON}}
{{/if}}
  },
{{#if ui_app}}
  "ui_app": {{UI_APP_JSON}},
{{/if}}
  "permittedUrls": {
    "fetch": [],
    "img": [],
    "iframe": [],
    "js": [],
    "css": []
  },
  "support": {
    "supportEmail": "",
    "documentationUrl": "",
    "supportUrl": "",
    "supportPhone": ""
  }
}
