{
  "appId": "{{APP_ID}}",
  "appName": "{{APP_NAME}}",
  "version": "{{APP_VERSION}}",
  "logoUri": "{{LOGO_URI}}",
  "distribution_type": "{{DISTRIBUTION}}",
  "auth": {
    "scopes": {{SCOPES_JSON}},
    "redirectUrls": {{REDIRECT_URLS_JSON}}
  },
  "permittedUrls": {
    "fetch": [],
    "img": [],
    "iframe": [],
    "js": [],
    "css": []
  },
  "support": {
    "supportEmail": "",
    "documentationUrl": "",
    "supportUrl": "",
    "supportPhone": ""
  }
}
