{
  "appId": "{{APP_ID}}",
  "appName": "{{APP_NAME}}",
  "cliVersion": "{{CLI_VERSION}}",
  "minCliVersion": "{{MIN_CLI_VERSION}}",
  "auth": {
    "type": "private",
    "scopes": {{SCOPES_JSON}},
    "redirectUrls": {{REDIRECT_URLS_JSON}}
  },
  "distribution": "private",
  "permittedUrls": {
    "fetch": [],
    "img": [],
    "iframe": [],
    "js": [],
    "css": []
  },
  "support": {
    "supportEmail": "",
    "documentationUrl": "",
    "supportUrl": "",
    "supportPhone": ""
  }
}
